%p
  %h2 Frequently Asked Questions
#faq
  %p
    %b Q1. What it is?
    .ans
      rbus.in is a website dedicated to the commuter community in Mumbai. It's main aim is to encourage the use of busses for commuting to and from work, and especially the replacement of cars with busses as much as possible. It is not a commercial venture. Rather it can be looked upon as a platform to facilitate cooperation between the millions of commuters in Mumbai, in an effort to solve some of the transportation issues in Mumbai.
  %p
    %b
      Q2. But Why?
    .ans
      Commuting too and from work is a daily torture for millions of Mumbaikars. We would like to present an alternative to the current system where you are either suffering in overcrowded trains or bussses, or you are polluting the environment and causing traffic congestion in your car. We would like for there to be a clean, comfortable and dignified option for all commuters.
      %br
      Our city is too congested with cars. We realise that owning more and more cars is not a scalable and sustainable solution to our problems. We realise that we have to work together to reduce our dependance on private transport. While the state transport and BEST are doing their best, the problem is so big that it will never be solved without citizen cooperation.
  %p
    %b
      Q3. How it works?
    .ans
      There are two answers to this question - "in the ideal state" and "at the beginning."<br/>
      In the ideal state, given say 200 commuters with the same profile, we can organise ten 20-seater busses to leave at 10 minute intervals in the morning and the evening. This means that even given some flexibility in your work times, there will be a trip leaving to where you want to go every ten minutes for three hours in the morning and evening.<br/>
      At the beginning though, the process will involve more input from the user. Users will have to take on some of the logistics and handling of their charter bus provider. This is for a number of reasons.
      %ul
        %li Users can better supervise the performance of their vendors.
        %li Users can respond quicker if they can decide their own vendor.
        %li The system cannot be corrupted. Users are free to change their vendor at any time.
        %li It will be cheaper for users to do so.
      In any case, you begin by entering your commute details. The system will automatically group you with other commuters with your same profile. Once this is done, a charter bus can be arranged for you. 

  %p
    %b
      Q4. What about privacy?
    .ans
      Your personal details are not required (except for an email) and so your privacy is not compromised.
  %p
    %b
      Q5. I like. How I can help?
    .ans
      The best way to help is to use the system, to get your friends and colleagues to use the system and to volunteer to help with the logistics of your group. However, there are many other ways such as
      %ul
        %li Contribute code. rbus.in is open source and hosted on github at http://github.com/svs/rbus. Check out a copy and help to improve the system.
        %li Contribute a design. Busses just aren't cool enough. An enticing website which bestows some coolness upon them would be very helpful in attracting users. Check out rbus.in from github and contribute a design.
        %li Participate in the forums. Let people know that we are an active community, welcoming to new users.
        %li Contribute some money. It will enable us to pay coders, designers and logistics arrangers
        %li Start a bus-iness. Become a provider of charter busses and serve the commuter community while making a living.
  %p
    %b Q6. What about other cities.
    .ans
      Do check out the source code and feel free to start an rbus in your city.