%h1 Help!

Our home is in a lot of trouble. Mumbai is being drowned in a sea of cars. We are running out of space to drive and park our cars. Something needs to be done, and done soon. While the government of our city is probably doing all they can, the question still remains - what are we doing as commuters?
%p
  Rbus.in is a simple plan to collect as many commuters together and provide them with a decent bus service, implemented and organised by the commuters for themselves, using the Internet. Thus, without your active help and support, this idea will never work. 

%p
How can you help?
%ul
  %li
    Contribute your time
  %li
    Contribute code
  %li
    Contribute money
  %li Run a bus-iness
%p
  %h2 Your time.
  Rbus.in should ideally remain as much volunteer run as possible. This is because a system that is administered by the very people who it benefits most will remain in good repair because it is cared for by the users.
  %h2 Code / Art
  If you are a programmer, do consider contributing to the codebase that powers rbus.in. The amount of code required to manage the thousands of busses that will be required to bring commuting sanity to mumbai is not small. rbus.in code is on github at <a href="http://github.com/svs/rbus">http://github.com/svs/rbus</a>. Graphic designers are also more than welcome.
  %h2 Money
  If you are too strapped for time but want to support the project anyway, do consider contributing some money. This will enable us to hire people to do the orgnising of the network.
  %h2 Bus-iness
  Think people will be happy to pay you to organise their daily commute? Start an rbus recognized business and become a bus provider to Mumbai's commuter community. Do well while doing good.
  %h2 Community / Advocacy
  Tell more people about the need for the commuter community to organise itself via the Internet. Help as many people log on as you can. Participate in the forums and be an active member of the community.