%h1 Welcome to rbus.

Thank you for signing up. Your password has been set to 
= params[:password]
You can change it by visiting your 
%a{:href => "http://rbus.in/profile"}
  profile

%h2
  A small word about rbus

The responsibility for the creation and maintainance of a modern and responsive public transport system lies ultimately with the commuter. The government's mechanisms are clearly unable to cope with the scale of the problem and while they continue to manage one of the largest public transport systems in the world, the problem is clearly too big for any one entity. This is where rbus.in comes in.

Rbus is not a bus vendor or any other sort of business. Rbus is simply a platform that seeks to give commuters the tools with which to build a public transport system of their own liking. This implies, for the moment, an internet platform that will allow you to find other commuters, interface with bus and transport vendors and provide a meeting place to discuss common problems and their solutions.

Due to the scale of the problem, there are only two approaches. Depend on a large, monolithic organisation to provide these services or get involved and arrange them for oneself. The robustness and longevity of this new transportation system will depend on the involvement of each commuter. Arranging logistics, deciding routes and timings, supervising busses and performance - all these tasks will have to be taken up in a distributed manner by each individual commuter if a new system is to arise. Rbus.in simply provides the tools which make these tasks easy.

%h2 Supporting rbus

There are many ways to support rbus.in. Some of them are:
%ul
  %li
    Sign up and use the system. Spread the word. The more users, the more can be achieved.
  %li
    Contribute your time. Volunteer to arrange and/or supervise the busses of your group .
  %li
    Contribute code - rbus.in is open source. Anyone can improve the codebase that runs rbus or contibute a nicer design for the site.
  %li 
    Register your daily bus hire business on rbus. Join the supply side of the marketplace.